<!-- logout form -->
<form action="/sessions/<%=current_user.id%>" method="post">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<input type="hidden" name="_method" value="delete">
<input type="submit" name="name" value="logout">
</form>

<h2>Hello, <%=current_user.f_name%>!</h2>
<h4>All the songs in our hub:</h4>
<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>No. of Times Song Has Been Added</th>
      <th>Add to playlist</th>
    </tr>
  </thead>

  <tbody>

    <%@songs.each do |s|%>
    <tr>
      <td><%=s.artist%></td>
      <td><a href="/songs/<%=s.id%>"><%=s.title%></a></td>
      <td><%=s.adds.count%></td>
      <td>
        <form action="/adds" method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="hidden" name="s_id" value="<%=s.id%>">
          <input type="submit" value="add">
        </form>
      </td>
    </tr>
      <%end%>
  </tbody>
</table>

<h1>Add a Song</h1>
<form action="/songs" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  Title: <input type="text" name="song[title]" value=""><br>
  Artist:<input type="text" name="song[artist]" value=""><br>
  <input type="submit" name="name" value="Add Song">
</form>
